<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#!/">Master Research</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#!/"><span class="glyphicon glyphicon-home"></span> Accueil</a></li>
      <li><a href="#!/research" ><span class= "glyphicon glyphicon-search"></span> Recherche</a></li>
      <li><a href="#!/addSchool"><span class= "glyphicon glyphicon-education"></span> Contribuer</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class= "glyphicon glyphicon-user"></span> Créer un compte</a></li>
      <li><a href="#"><span class= "glyphicon glyphicon-log-in"></span> Se connecter</a></li>
    </ul>
  </div>
</nav>
<div id="ngView" ng-view></div>
<!--FOOTER -->
<div id="footer">
  <ul>
    <li class="hvr-grow"><a href="#!/a-propos">A Propos</a></li>
    <li class="hvr-grow"><a href="#!/contact" >Contact</a></li>
    <li class="hvr-grow"><a href="#!/mentions-legales">Mentions légales</a></li>
  </ul>
</div>
